.accordian {
  border: 1px solid black;
  border-radius: 5px;
  margin: 15px;
  max-width: 300px;
  max-height: auto;
  padding: 0px 45px 0px 20px;
  position: relative;
  overflow-wrap: break-word;
  text-align: start;
}
span {
  position: absolute;
  right: 20px;
  cursor: pointer;
  font-weight: 900;
}

